<!DOCTYPE html>
<html lang="en pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Świąteczne losowanie</title>

</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>
<div class="=content-container">
    <!--    <p class="text-center" style="font-size: 200px">&#127876;</p>-->
    <p class="text-center" style="font-size: 300px">&#127877;</p>


</div>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>